{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to UMA Bike Shop - Davis, CA</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br><br>
                    Lorem ipsum odor amet, consectetuer adipiscing elit. Etiam elit suspendisse fusce fermentum; vivamus
                    sodales dictum. Etiam nullam praesent tellus potenti; ipsum finibus. Blandit auctor risus malesuada
                    interdum, placerat dapibus senectus. Ipsum quisque egestas vitae eu ultrices. Diam fusce parturient
                    iaculis ligula aenean odio natoque tempor. Vestibulum augue ut auctor turpis accumsan.
                    <br> <br>
                    Quam erat platea purus mi eu adipiscing ut nibh. Nascetur sit commodo erat in natoque feugiat. Justo
                    auctor lacinia duis; massa tempus vel litora. Ipsum velit cras tristique convallis montes sit sem
                    quisque augue. Felis eu imperdiet aliquet ligula arcu cursus varius? Mattis elit et blandit
                    convallis
                    efficitur nec suscipit viverra suscipit. Aptent semper duis nam convallis condimentum risus
                    suspendisse
                    ridiculus commodo. Nulla sodales dapibus odio hendrerit dictum maximus; mus habitasse convallis.
                    <br> <br>
                    Nisi duis ornare ullamcorper ipsum porttitor nascetur mi. Sagittis penatibus ornare mauris in;
                    condimentum aenean ac aptent. Curabitur ipsum urna; feugiat a vestibulum leo. Aliquam eu rutrum
                    lacinia
                    rutrum massa quis curabitur. Lacus eleifend amet interdum ultricies sed erat. Non elit luctus
                    consectetur, luctus ipsum egestas. Mattis finibus lorem ac gravida viverra.
                    <br> <br>
                    Arcu primis sit sem neque cras inceptos. Tincidunt tempor ridiculus nascetur adipiscing cubilia nunc
                    semper quisque. Turpis scelerisque ac dictum purus vivamus facilisi massa. Mi ornare lacinia vitae
                    hac
                    habitasse dis ligula venenatis. Primis erat ridiculus, nisl netus vestibulum consectetur. Orci
                    malesuada
                    tortor sollicitudin nostra nullam posuere porttitor. Orci mi ridiculus tempus egestas curabitur
                    tellus
                    dolor mi nisi.
                    <br> <br>
                    Penatibus leo in condimentum magnis rutrum nullam felis molestie. Phasellus imperdiet urna fringilla
                    est
                    ac nec dictum. Eros hac efficitur tellus, elementum sit at. Ornare taciti non libero porta mi tellus
                    nec
                    porttitor. Non habitasse pretium ligula purus faucibus at sapien. Eleifend blandit scelerisque sit
                    sit
                    litora mi etiam lobortis.
                    <br> <br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}